stages:
  - build
  - production

image: docker:git
services:
  - docker:dind
variables:
  DOCKER_DRIVER: overlay2
  DOCKER_HOST: tcp://localhost:2375
  DOCKER_TLS_CERTDIR: ""

build_images_for_k8s:
  stage: build
  only:
    - master
  script:
    -  ./build/run-build
  tags:
    - kubernetes

deploy_prod_k8s:
  stage: production
  image: lwolf/helm-kubectl-docker:latest
  only:
    - master
  script:
    - ./build/run-k8s
  tags:
    - kubernetes
